<% layout('../../layout') -%>


<%
    console.log("item:", item)
    const get_color_value = (color) =>{
        return item.variation_attributes[0]
                .values
                .filter(ent =>{
                    return ent.name == color
                })[0].value
    }


    if(item.variation_attributes.length!==0) {
        <!-- console.log("get_color_value(color) = ",get_color_value(color)) -->
        var images = item.image_groups.filter(ent => {
                    return ent.view_type=="large" && ent.variation_value == get_color_value(color)
                })
        <!-- console.log("images:", images) -->

    }
%>
  
    
<div class="row-container ">
    <!-- <div class="card-preview-big "> -->
        <div class="mix-container ">
            <div class=" w50 column-container">
                <% if(item.variation_attributes.length!==0) { %> 
                    <!-- <% console.log("item.variation_attributes.length: ",item.variation_attributes.length)%>   -->
                    <% if(link){ %>
                        <img src="/images/<%=link%>" alt="<%=item.page_title%>">
                    <% } else {%> 
                        <% if (images.length > 0) {%>
                            <img src="/images/<%=images[0].images[0].link%>" alt="<%=item.page_title%>">
                        <% } else {%>
                            <img src="/images/<%=item.image_groups[0].images[0].link%>" alt="<%=item.page_title%>">
                        <%}%>
                    <%} %>
                <% } else { %>
                    <img src="/images/<%=item.image_groups[0].images[0].link%>" alt="<%=item.page_title%>">
                <% } %>
                <div >
                    <ul class="small-padded row-container size-chart no-list">
                        <% if(item.variation_attributes.length !== 0) { %>
                            <% if (images.length > 0 && images[0].images.length>1) {%>
                                <% _.each(images[0].images, function(img) { %>
                                    <li>
                                        <% var context =  {item: item, no_price:false, no_price:true, img: img.link} ;%>
                                        <%- include components/recomendations-partial %>
                                    </li>
                                <% }) %>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="card-text-container ">
                <p class="header "><%= item.name%></p>
                <p>Price: $&nbsp;<%=item.price.toFixed(2)%></p>
                <p class="small-padded "><%- item.long_description %></p>
                <div class="">
                    <% if (item.variation_attributes.length !== 0) { %>
                        <div class="column-container ">
                            <div class=" lightgrey orange small-margined 
                                        small-padded styled-text "
                                            >
                                <% if(size) { %>
                                    <p >your size ( <%=size%> )</p>
                                <% } else {%>
                                    <p >your size ( &nbsp; )</p>
                                <% } %>

                            </div>
                            <ul class="small-padded size-chart no-list ">
                                <% console.log("variations[color] :",variations[color])%>
                                <% _.each(variations[color], function(value) { %>
                                    <li >
                                        <form class="form-inline-float " method="POST" action="/products/<%=item.id%>
                                                        ">
                                            <input type="hidden" name="size"  value="<%=value%>" >
                                            <button type="submit" name="id" value="<%=value%>"  class="show-more-btn lightgrey-b centered-b"><%=value%></button>
                                        </form>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="column-container ">
                            <div class=" lightgrey orange small-margined 
                                        small-padded styled-text "
                                            >
                                <% if(color) { %>
                                    <p >your color ( <%=color%> )</p>
                                <% } else {%>
                                    <p >your color ( &nbsp; )</p>
                                <% } %>
                            </div>
                            <!-- <% console.log("variations in EJS :",variations)%> -->
                            <ul class="small-padded size-chart no-list ">
                                <% _.each(variations, function(value,name) { %>
                                        <% if(value.length > 0 ) { %>
                                            <li >
                                                <form class="form-inline-float " method="POST" action="/products/<%=item.id%>">
                                                    <input type="hidden" name="color"  value="<%=name%>" >
                                                    <button type="submit" name="id" value="<%=name%>"  class="show-more-btn lightgrey-b centered-b"><%=name%></button>
                                                </form>
                                            </li>
                                        <% } %>
                                <% }) %>
                            </ul>
                        </div>
                    <% } else { %>
                        <p>No size and color variations</p>
                    <% } %>
                </div>
                <form method="POST" action="/cart/add/" >
                    <input type="hidden" name="price"  value="<%=item.price%>" >
                    <button type="submit" name="id" value="<%=item.id %>"  class="show-more-btn green centered-b">Add to Cart</button>
                </form>    
                
            </div>
            
        </div>
    <!-- </div> -->
    <div class="pdp-recomendations-container">
        <div class="h50px 
                         
                        lightgrey
                        small-padded
                        orange
                        small-margined
                        styled-text
                        column-container
                        "
                         >
            <p >RECOMENDATIONS</p>
        </div>
        <div >
            <ul class="row-container wraped no-list">
                <% _.each(recomendations, function(item) { %>
                    <li>
                        <% var context =  {item: item, no_price:false} ;%>
                        <%- include components/recomendations-partial %>           
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div> 