<!DOCTYPE html>
<html>
	<head>
        <title><%= items.name %></title>
        
    	<link rel="stylesheet" href="/stylesheets/style.css" />
    	<link rel="stylesheet" href="/stylesheets/containers.css" />
    	<link rel="stylesheet" href="/stylesheets/breadcrumbs.style.css" />
        <link rel="stylesheet" href="/stylesheets/navbar.style.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
  	</head>
  	
  	<body class="big-margined">
        <%- include('sscomponent.navbar.ejs'); %>
        <%- include('sscomponent.breadcrumbs.ejs',{item:0}); %>
                     
    	<div class="styled">
            <h1 class="small-padded"><%= items.name %></h1>
            <p class="small-padded"><%= items.page_description %></p>
            <div class="big-margined ">
                <ul class="no-list">
                    <% _.each(items.categories, function(subC) { %>
                    <li>
                        <%- include('sscomponent.category-card.ejs',{category:subC}); %>
                    </li>
                    <% }); %>                    
                </ul>
            </div>
            
        </div>

        

    
  	</body>
</html>