<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/containers.css" />

    <!-- <link rel="stylesheet" href="/stylesheets/product-detail.style.css" /> -->
    <link rel="stylesheet" href="/stylesheets/preview-card.style.css" />
    <link rel="stylesheet" href="/stylesheets/breadcrumbs.style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.style.css" />
    <link rel="stylesheet" href="/stylesheets/paginator.style.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title><%= breadcrumbs[breadcrumbs.length-1]%></title>
</head>
<body>
    <!-- Small helper -->
    <% const num_pages = new Array(Math.floor(totalItemCount / pageSize));%>
    
    <%- include('sscomponent.navbar.ejs'); %>
    <%- include('sscomponent.breadcrumbs.ejs',{item:0}); %>

    <div>
        <h3>Total count of items in category : <%= totalItemCount%></h3>
    </div>
    <div >
        <ul class="card-container">
            <% _.each(items, function(item) { %>
                <li class="card-preview" >
                    <%- include('sscomponent.preview-card.ejs',{item:item}); %>                   
                </li>
            <% }); %>                    
        </ul>
    </div>
    <%- include('sscomponent.paginator.ejs', {num_pages:num_pages}); -%>
     
</body>
</html>